{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div id="container">

	<div id="header"></div>

	<div id="taghelp">
		<ul>
			<li id="Realm" class="Realm">Realm</li>
			<li id="Area" class="Area">Area</li>
			<li id="Context" class="Context">Context</li>
			<li id="Project" class="Project">Project</li>
			<li id="Action" class="Action">Action</li>
			<li id="Contact" class="Contact">Contact</li>
			<li id="Operation" class="Operation">Operation</li>
			<li id="Keyword" class="Keyword">Keyword</li>
			
		</ul>	
	</div>
	<div class="clear"></div>

	<div id="smartboxWrapper">
		<div id="searchtags">
			<ul></ul>
		</div>

		<div class="ui-widget left">
			<form id="smartboxform">
				<input id="smartbox" value="" size="25" />
			</form>
		</div>

		<div class="clear"></div>
	</div>
	
	<div id="loginWrapper">
		logged in as: {{ username }} <a href="{% url 'logout' %}">(logout)</a>
	</div>	
</div>	
{% endblock %}
