html {
	background:#fff;
	font-family:Arial;
	font-size:12pt;
	width:100%;
	}
	
#header {
	margin-top:50px;
	margin-bottom:50px;
	width:100%;
	height:105px;
	background: url('../img/header.png') center no-repeat;
	}	
	
#container {
	width:900px;
	margin:0px auto;
	
	}	
	
#searchtags ul {
	padding: 0px;
	margin: 0px;
	list-style-type:none;
	display:block;	
	float:left;
	color:#fff;
	}	
	
#searchtags ul li{
	height:25px;
	margin:0px 2px 0px 0px;
	padding:5px 5px 0px 5px;
	float:left;
	display:block;
	}

div.resultitem {
	width:auto;
	height:25px;
	margin:0px 2px 0px 0px;
	padding:3px 5px 2px 5px;
	float:left;
	display:block;	
	color:#fff;
	}
	
#taghelp {
	width:600px;
	}
	
#taghelp ul {
	padding: 0px;
	margin: 0px;
	list-style-type:none;
	display:block;	
	float:left;	
	color:#fff;
	}
	
#taghelp ul li {
	height:25px;
	margin:0px 2px 0px 0px;
	padding:5px 5px 0px 5px;
	float:left;
	display:block;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
	filter: alpha(opacity=50);					
	}	

#taghelp ul li.chosen {
	opacity:1;
	/*text-decoration:line-through;*/
	}
	
ul li.Unknown, a div.Unknown {
	background:#fff;
	color:#000;
	}		
	
ul li.Realm, a div.Realm {
	background:#e7573f;
	}	
	
ul li.Area, a div.Area {
	background:#f6993e;
	}	
	
ul li.Project, a div.Project {
	background:#c9e73e;
	}	
	
ul li.Context, a div.Context {
	background:#f6d13f;
	}

ul li.Contact, a div.Contact {
	background:#3cb1e7;
	}
	
ul li.Action, a div.Action {
	background:#3ce76c;
	}
	
ul li.Operation, a div.Operation {
	background:#7e3fe7;
	}	
	
ul li.Keyword, a div.Keyword {
	background:#858585;
	}	
	
#smartboxWrapper {
	border:1px solid #e4e4e4;
	padding:2px;
	margin-top:10px;
	margin-bottom:10px;
	}	
	
#smartbox {
	height:20px;
	font-size:12pt;
	font-family:Tahoma;
	border:none;
	padding:5px 5px 5px 5px;
	margin:0px 2px 0px 0px;
	}	
	
.left {
	float:left;
	}	
	
.right {
	float:right;
	}	
	
.clear {
	clear:both;
	}	